<h1>Venue</h1>
<br>
<h3><strong>Name:</strong> <%= @venue_name %></h3>
<br>
<strong>Street:</strong> <%= @street %>
<br>
<strong>City:</strong> <%= @city %>
<br>
<strong>Description:</strong> <%= @description %>

<h2><a href="<%= @google_url %>" target="_blank">Check Out the Venue</a></h2>
